.chateau-image {
  width: 796.64px;
  height: 516.829px;
  bottom: -70%;
  right: 0;
  z-index: 8;
  position: absolute;
}

.chateau-phrase {
  width: 603.679px;
  height: 293.874px;
  bottom: -40%;
  left: 5%;
  z-index: 9;
  position: absolute;
}

.chateau-text {
  position: absolute;
  top: 20%;
  left: 35%;
  z-index: 7;
  color: var(--pink);
  font-size: 45;
  opacity: 0;
}
