.end {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 47px;
  padding-left: 47px;
  padding-right: 47px;
  z-index: 33;
  background-color: var(--black);
}

.end-couv-bd {
  height: 90%;
  object-fit: contain;
  transform: translateX(-100%);
  opacity: 0;
}

.end-all-infos > div {
  transform: translateX(100%);
  opacity: 0;
}

.end-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--white);
  font-family: "BornLosersSans", sans-serif;
  font-size: 128px;
  font-weight: 250;
  line-height: 146.285%;
  padding-bottom: 26px;
}

.end-infos {
  margin-bottom: 20px;
}

.end-infos-edition,
.end-infos-writers {
  margin: 0;
}

.end-infos-edition {
  color: var(--white);
  font-family: Satoshi;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: 136.78%;
  text-transform: uppercase;
}

.end-infos-writers {
  color: var(--pink);
  font-family: Satoshi;
  font-size: 32px;
  font-weight: 500;
  line-height: 136.78%;
}

.end-description {
  color: var(--white);
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 400;
  line-height: 136.78%;
  padding-bottom: 64px;
}

.end-button {
  opacity: 0;
}

.end-reload-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  z-index: 9999;
  fill: var(--black);
}

.end-reload-button:hover svg .btn-bg {
  fill: var(--pink);
  transition: fill 0.3s ease;
}
