.horizontal {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.horizontal-image {
  position: absolute;
  bottom: -2;
  left: 0;
  width: auto;
  height: 60%;
  max-width: none;
  z-index: 12;
}
