.horizontal {
  position: relative;
  height: 100vh;
  overflow: scroll;
  width: 100vw;
}

.horizontal-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2766px; /* largeur de ton image */
}
