.issue-image {
  inset: 0;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  position: absolute;
}

.issue-text {
  position: absolute;
  top: 73%;
  left: 10%;
  z-index: 11;
  color: rgb(255, 53, 194);
  font-size: 45;
  opacity: 100;
}

.issue-soleil {
  position: absolute;
  border: 2px solid white;
  width: 175px;
  height: 175px;
  top: 40%;
  left: 50%;
}
