.vacancier-text {
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 5;
  opacity: 0;
}

.vacancier-herbe-right {
  width: 1097.022px;
  height: 299.68px;
  right: -75%;
  bottom: -2;
  z-index: 6;
  position: absolute;
}

.vacancier-herbe-left {
  width: 1293px;
  height: 317px;
  aspect-ratio: 1293/317;
  left: -90%;
  bottom: 0;
  z-index: 6;
  position: absolute;
}

.vacancier-right {
  width: 732.868px;
  height: 611.266px;
  aspect-ratio: 732.87/611.27;
  right: -55%;
  bottom: 10%;
  z-index: 5;
  position: absolute;
}

.vacancier-left {
  width: 830.551px;
  height: 568.427px;
  left: -50%;
  bottom: 10%;
  z-index: 5;
  position: absolute;
}
