.video-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  z-index: 10;
  position: absolute;
}

.container.video {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  transition: opacity 0.3s ease-out;
}

.video.video-visible {
  opacity: 1;
}
