:root {
  --pink: #cd0c7a;
  --black: #000000;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.important-word {
  font-family: "BornLosersSans", sans-serif;
  font-size: 96px;
}

.less-important-word {
  color: var(--pink);
  text-align: center;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 104%;
  text-transform: uppercase;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
