@import "font";
@import "base";
@import "layout";
@import "modules/intro";
@import "modules/vacancier";
@import "modules/chateau";
@import "modules/video";
@import "modules/issue";
@import "modules/horizontal";
@import "modules/sequence";
@import "modules/vieux";
@import "modules/end";
@import "modules/button";

:root {
  --pink: #cd0c7a;
  --black: #000000;
  --white: #ffffff;
}

@media (max-width: 1300px) {
  .intro-crique-text {
    top: 70%;
  }

  .vacancier-left {
    left: -55%;
  }

  .vacancier-right {
    right: -65%;
  }

  .vacancier-herbe-left {
    left: -110%;
  }

  .vacancier-herbe-right {
    right: -110%;
  }

  @keyframes vacancier-left-anim {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(150px);
    }
  }

  @keyframes vacancier-right-anim {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-150px);
    }
  }

  @keyframes vacancier-herbe-left-anim {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(120px);
    }
  }

  @keyframes vacancier-herbe-right-anim {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-150%);
    }
  }

  .vacancier-left,
  .vacancier-right,
  .vacancier-herbe-left,
  .vacancier-herbe-right {
    animation-duration: 1.6s;
    animation-fill-mode: both;
  }
}
