@import "font";
@import "base";
@import "modules/intro";
@import "modules/vacancier";
@import "modules/chateau";
@import "modules/video";
@import "modules/issue";
@import "modules/horizontal";
@import "modules/sequence";
@import "modules/vieux";
@import "modules/end";
@import "modules/button";
@import "modules/scroll-warning";

:root {
  --pink: #cd0c7a;
  --black: #000000;
  --white: #ffffff;
}
